# Dependencies
node_modules/

# Build output
dist/
.wrangler/

# Environment variables
.env
.dev.vars

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# PM2
.pm2/
pids/
logs/
public/hero-bg.mp4
core
*.mp4
